<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boutique</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>
<div class="page-wrap d-flex flex-row align-items-center mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead ">Cette page n'existe pas !</div>

            </div>
            <a th:href="@{/}"class="btn">page de connexion</a>
        </div>
    </div>
</div>
</body>
</html>