<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boutique</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>

<div align="center">

   <div class="container-fluid text-center mx-1 my-2">
        <div class="card bg-info text-white h2 py-lg-3 py-md-2 py-sm-1">
            <p>Bienvenu dans votre Gestionnaire de Boutique </p>
           </div>


            <form th:action="@{/add/save}" method="post">
                 <h3>Se connecter</h3>
                <div class="border border-secondary rounded-2 p-3">
                    <div class="form-group row my-sm-1">
                        <label class="col-sm-4 col-form-label">Email</label>
                       <div class="col-sm-8">
                           <input type="email" class="form-control" required />
                       </div>
                    </div>

                     <div class="form-group row my-sm-1">
                        <label class="col-sm-4 col-form-label">Mot de passe</label>
                       <div class="col-sm-8">
                           <input type="password" class="form-control" required/>
                       </div>
                    </div>




                 </div>


            </form>

    </div>
      <a th:href="@{/}" class="btn btn-outline-info my-md-3 my-sm-1"> Connexion</a>
</div>
</body>
</html>